@charset "UTF-8";

#content {
	width: 100%;
	height: 500px;
	resize: none;
}


/* list */
.board-list .reply {
	color: #f94b4b;
	font-weight: bold;
}

.board-list>table tr:hover {
	background-color: #f6f5f5;
}

.board-bottom .search {
	text-align: center;
}

.search-btn, .search-btn:hover {
	border: 1px solid #ccc;
}

.write-form {
	width: 900px;
}

#nolist {
	text-align: center;
}

/* .mybtn {
	padding: 6px 12px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.mybtn:hover {
	background-color: #e4e4e4;
} */

/* search-bar */
.select-list {
	display: flex;
	height: 38px;
	justify-content: center;
	line-height: 1;
}

#option {
	width: 114px;
	height: 38px;
	margin-right: 3px;
	border-radius:0.25rem;
}

#query {
	width: 220px;
	height: 38px;
	border:1px solid #ccc;
	border-radius:0.25rem;
}

#select-btn {
	margin-left: 3px;
	border-radius:0.25rem;
}

/* pagination */
#pagination {
	margin: 20px 0;
}

.page {
	display: flex;
	padding-left: 0;
	list-style: none;
}

.page li {
	margin: 0px 3px;
}

.paging {
	padding: 6px 12px;
	display: block;
}


.paging:focus {
    box-shadow: none;
}

.paging.disabled {
	opacity: .5;
	pointer-events: none
}

.paging.active {
	padding: 5px 12px;
	border: 1px solid #BCBABA;
	border-radius: 5px
}

.page-link.active {
	background-color: none;
}

/* view */
.board-info {
	
}

.board-title {
	color: #A52A2A;
}

.board-content {
	
}

.view-Opt {
	height: 24px;
	float: right;
}

.view-Opt a {
	padding: 0 8px;
}

/* reply */
.reply-Opt {
    font-size: 14px;
}

.reply-border-top {
	border-top: 1px solid #ccc;
}

.reply-form {
	width: 100%;
	background: #f8f8f8;
	padding: 20px;
	margin: 20px 0;
}

.reply-input-btn {
	display: flex;
	line-height: 1;
	padding-left: 10px;
}

.reply-input {
	width: 100%;
	min-height: 70px;
}

.reply-input textarea {
	width: 100%;
	min-height: 70px;
}

.reply-btn {
	width: 68px;
	margin-left: 9px;
	height: 72px;
	padding: 0;
	border: none;
	border-radius: 5px;
	background: #fff;
}

.reply-btn.replyUpdate {
	height: 36px;
}

.reply-submit {
	width: 68px;
	height: 100%;
	border: 1px solid #ccc; 
	background:#ffffff;	
}

.reply-list ul {
	list-style: none;
}

.replyOne {
	padding: 10px;
	border-bottom: 1px solid #dcdcdc;;
}

.nickName {
	font-weight: bold;
	font-size: 16px;
}

.regDate {
	font-size: 12px;
}

.rereply-arrow {
	padding: 4px;
}

.rereply {
	/* padding-left: 40px; */
    background: #F8F8F8;
}

.updateReply {
    background: #F8F8F8;
}

.rereply-btn {
	font-size:12px;
	display:flex;
	justify-content: flex-end;
}

.rereply-btn a {
	cursor: pointer;
}

.replyOne .rereply-form {
	margin: 0;
}

.replyOne .replyOpt {
	cursor: pointer;
    float: right;
}

.bi-arrow-90deg-down {
	float: left;
	transform: rotate(270deg);
}

.delReply {
	padding: 15px 10px;
}


/* update */
.btn-right {
	margin-left: 8px;
}







