<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mappers.BoardMapper">
	
	<!-- 게시글 전체 조회 -->
	<select id="list" resultType="com.example.board.dto.BoardDTO">
		SELECT
			b.boardNum,
			b.title,
			b.content,
			u.nickName,
			b.regDate,
			b.viewCnt,
			(
				SELECT 
					count(*) 
				FROM 
					reply r 
				WHERE 
					r.boardNum = b.boardNum
			) as replyCnt
		FROM
			board b, users u
		WHERE
			b.userId = u.userId
		<if test="option != ''">
			<choose>
				<when test='option == "title"'>
					and title like concat('%','${query}','%')
				</when>
				<when test='option == "content"'>
					and content like concat('%','${query}','%')
				</when>
				<when test='option == "nickName"'>
					and nickName like concat('%','${query}','%')
				</when>
				<when test='option == "titleContent"'>
					and (title like concat('%','${query}','%')
					or content like concat('%','${query}','%'))
				</when>
			</choose>
		</if>
		ORDER BY
			boardNum desc,
			regDate desc
		limit #{firstBoardNum}, #{amount}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="create">
		INSERT INTO board (
			title,
			content,
			userId
		) values (
			#{title},
			#{content},
			#{userId}
		)
	</insert>
	
	<!-- 게시글 상세보기 -->
	<select id="read" resultType="com.example.board.dto.BoardDTO">
		SELECT
			b.boardNum,
			b.title,
			b.content,
			b.regDate,
			b.viewCnt,
			count(r.replyNum) as replyCnt,
			b.userId,
			u.nickName
		FROM
			board b, users u, reply r
		WHERE
			b.userId = u.userId and b.boardNum = ${boardNum} and b.boardNum = r.boardNum;
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="incViewCnt">
		UPDATE
			board
		SET
			viewCnt = viewCnt + 1
		WHERE
			boardNum = #{boardNum}
	</update>
	
	<!-- 게시글 수정 -->
	<update id="update">
		UPDATE
			board
		SET 
			title = #{title}, content = #{content}
		WHERE
			boardNum = #{boardNum}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		DELETE
		FROM
			board
		WHERE
			boardNum = #{boardNum}
	</delete>
	
	<select id="total" resultType="int">
		SELECT 
			count(*) 
		from 
			board
		<if test="option != ''">
			<trim prefix="WHERE">
				<choose>
					<when test='option == "title"'>
						title like concat('%','${query}','%')
					</when>
					<when test='option == "content"'>
						content like concat('%','${query}','%')
					</when>
					<when test='option == "titleContent"'>
						title like concat('%','${query}','%') or content like concat('%','${query}','%')
					</when>
				</choose>
			</trim>
		</if>
		<if test='option == "nickName"'>
			b, users u where b.userId = u.userId and nickName like concat('%','${query}','%')
		</if>
	</select>

</mapper>