<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.example.board.mappers.ReplyMapper">
	
	<!-- 댓글 쓰기  -->
	<insert id="writeReply">
		INSERT INTO reply (
			content,
			userId,
			boardNum,
			depth,
			replyGroup
		) VALUES (
		<choose>
			<when test="depth == 0">
				#{content}, #{userId}, ${boardNum}, ${depth}, (SELECT ifnull(max(replyNum) + 1, 1) FROM reply AS sub)
			</when>
			<when test="depth == 1">
				#{content}, #{userId}, ${boardNum}, ${depth}, #{replyGroup} 
			</when>
		</choose>
		);
		
	</insert>

	<select id="read" resultType="com.example.board.dto.ReplyDTO">
		SELECT
			r.replyNum,
			r.userId,
			r.content,
			u.nickName,
			r.regDate,
			r.depth,
			r.replyGroup,
			r.deleteChk
		FROM
			reply r, users u
		WHERE 
			r.userId = u.userId AND r.boardNum = ${boardNum}
		ORDER BY
			r.replyGroup ASC, r.regDate ASC
	</select>
	
	<select id="count" resultType="int">
		SELECT
			count(*)
		FROM
			reply r, users u
		WHERE 
			r.userId = u.userId AND r.boardNum = ${boardNum} AND r.deleteChk = 0
	</select>	
	
	<update id="updateReply">
		UPDATE 
			reply
		SET
			content = '${content}'
		WHERE
			replyNum = ${replyNum}
	</update>
	
	<update id="deleteUpdate">
		UPDATE
			reply
		SET
			deleteChk = 1
		WHERE
			replyNum = ${replyNum}
	</update>
	
	<delete id="deleteReply">
		DELETE
		FROM 
			reply
		WHERE
			replyNum = ${replyNum}
	</delete>
	
</mapper>